PORT=8080
BASIC_AUTH_NAME=
BASIC_AUTH_PASSWORD=
BASIC_AUTH_TABLE

PUBLIC_KEY_PATH=
PRIVATE_KEY_PATH=

MYSQL_CONNECTION_LIMIT=
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD
MYSQL_DATABASE=

NAME_ADMIN=
PASSWORD_ADMIN=